@import "tailwindcss";


@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full border-4 border-gray-50 hover:bg-gray-400 transition-colors;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}